[Unit]
Description=Shortened URLs service job queue
Documentation=https://framagit.org/luc/lstu

[Service]
Type=forking
User=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=/usr/bin/carton exec script/application minion worker

[Install]
WantedBy=multi-user.target
